<html>
  <head>
  <link rel="stylesheet" href="../../../aseets/fontawesome/css/all.css">
  </head>
  <body>
    <div class="main top-main">
      <div class="top-message">
        <h2>Shinya Ishizaki&#39;s Portfolio</h2>
      </div>
      <div>
        <p>しんや（石崎慎弥）</p>
        <p>フリーランスエンジニア</p>
      </div>
      <div>
        <h3>キャリア略歴</h3>
        <p>損害保険会社、生命保険会社、銀行向け営業店・代理店システム保守開発に4年携わる。<br>
        他業種他職種を経て独立。<br>
        Web系エンジニアとして活動するとともに、プログラミング初心者のメンターとしてエンジニアの育成にも力を入れる。</p>
      </div>
      <div>
        <h3>SNSはこちら</h3>
        <div class="sns-parent">
          <div class="sns-child">
            <p><a href="https://twitter.com/Shinyaaah0311" target="_blank"><i class="fa fa-twitter aria-hidden="true""></i></a></p>
          </div>
          <div class="sns-child">
            <p><a href="https://www.linkedin.com/in/shinyaishizaki0311/" target="_blank"><i class="fa fa-linkedin aria-hidden="true""></i></a></p>
          </div>
          <div class="sns-child">
            <a href="https://lin.ee/hscs5VS"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"" class="fa-brands fa-line"></a>
          </div>
        </div>
      </div>
      <div>
        <h3>プログラミング学習のメンター依頼は<a href="https://menta.work/user/39158" target="_blank">こちら</a></h3>
      </div>
    </div>
    <button type="button" onclick="location.href='login'">会員様はこちらからご入室ください</button>
  </body>
</html>